/* sliders */
input[type=range]{
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  /*width: 300px;*/
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: rgb(21, 107, 198);
  margin-top: -4px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

/* Overriddes of getmwf css library */

/* page layout */ 
/* header */

.m-rich-heading.f-image {
  width: 100%;
  height: 200px;
  background: rgb(21, 107, 198);
  color: #FFF;
  margin-top: 0;
}

.m-rich-heading>picture.c-image:after {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  right: 285px;
  width: 115px;
  height: 200px;
  background: linear-gradient(to left,rgba(255,255,255,0) 0,rgb(21, 107, 198) 100%);
}

.m-content-placement {
  padding-left: 10px;
  padding-right: 10px;
}


.m-panes-section-ext  {
  padding: 5px;
  padding-left: 0px;
  padding-right: 0px;
}

.m-panes section {
  text-align: left;
  padding: 0px 10px 6px 10px;
}


.m-panes-ext h3 {
  text-align: left;
}

.wc-header {
  display: none;
}

.c-content-placement, .m-content-placement-item {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-top: 0px;
  cursor: pointer;
}

.c-table {
  overflow: visible;
}


/* Animate */
@-webkit-keyframes pulseme {
  from {
    transform: scale(1.0);
    opacity: 0.75;

  }
  50% {
    transform: scale(1.1);
    opacity: 1.0;
    

  }
  to { 
    transform: scale(1.0);
    opacity: 0.75;

  }
}

.pulseme { 
  position: relative;
  color: red;
  font-weight: bold;
  left:0px;
  width: 20%;
  opacity: 0.75; 
  animation-name: pulseme; 
  animation-duration: 0.5s; 
  animation-iteration-count: 10; 
}
